# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
citiesFile = pd.read_csv("../output_data/cities.csv")
citiesFile

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chui,-33.6971,-53.4616,58.28,96,24,4.76,UY,1658888781
1,1,Mlandizi,-6.7000,38.7333,66.25,97,10,3.67,TZ,1658888781
2,2,Port Alfred,-33.5906,26.8910,61.18,65,44,5.01,ZA,1658888781
3,3,Busselton,-33.6500,115.3333,55.35,73,100,8.37,AU,1658888782
4,4,Takoradze,4.8845,-1.7554,74.59,91,93,9.37,GH,1658888782
...,...,...,...,...,...,...,...,...,...,...
576,576,Biak,-0.9131,122.8766,75.78,92,99,6.60,ID,1658889005
577,577,Mopipi,-21.1833,24.8833,53.83,63,0,9.42,BW,1658889005
578,578,Angoche,-16.2325,39.9086,71.40,71,100,10.69,MZ,1658888771
579,579,Hlipiceni,47.6000,27.1500,71.24,76,62,9.57,RO,1658889006
580,580,Mayya,61.7333,130.2811,79.92,37,60,1.25,RU,1658889006

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Lat and Lng as locations and Humidity as the weight
locations = citiesFile[["Lat", "Lng"]]
humidity = citiesFile["Humidity"].astype(float)

In [4]:
# Show Heatmap
fig = gmaps.figure(center=(0,0), zoom_level=2)

# Add heat layer
heatLayer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heatLayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Find cities with humidity less than 30 and cloudiness to 0 and tmeperature between 60 to 80 and

cleanCityDF = citiesFile.loc[(citiesFile["Humidity"] <= 60) & (citiesFile["Cloudiness"] <=10) & \
                                   (citiesFile["Max Temp"] >= 60) & (citiesFile["Max Temp"] <= 85)].dropna()

cleanCityDF

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,Flinders,-34.5833,150.8552,64.18,47,1,10.00,AU,1658888786
35,35,Sakakah,29.9697,40.2064,80.17,15,6,4.50,SA,1658888793
66,66,Ponta do Sol,32.6667,-17.1000,74.03,60,1,6.15,PT,1658888805
97,97,Los Llanos de Aridane,28.6585,-17.9182,73.15,57,0,10.36,ES,1658888816
142,142,Zhangaözen,43.3000,52.8000,74.64,47,0,8.19,KZ,1658888835
158,158,Agadez,19.7500,10.2500,84.00,16,10,12.35,NE,1658888842
167,167,Yeppoon,-23.1333,150.7333,67.78,38,0,10.11,AU,1658888845
169,169,Igarka,67.4667,86.5833,61.34,52,0,1.03,RU,1658888846
182,182,Iporá,-16.4419,-51.1178,66.79,35,0,5.10,BR,1658888851
192,192,Mount Isa,-20.7333,139.5000,71.37,28,0,14.97,AU,1658888855
196,196,Jalu,29.0331,21.5482,82.42,34,5,11.32,LY,1658888857
200,200,Abu Samrah,35.3029,37.1841,73.65,50,0,6.15,SY,1658888699
250,250,Mackay,-21.1500,149.2000,76.68,56,0,17.72,AU,1658888877
251,251,Charters Towers,-20.1000,146.2667,73.76,44,0,11.72,AU,1658888878
270,270,Tiznit Province,29.5833,-9.5000,81.54,33,0,2.08,MA,1658888885
273,273,Abnūb,27.2696,31.1511,82.04,25,0,6.38,EG,1658888887
314,314,Poya,-21.3500,165.1500,78.55,52,0,2.44,NC,1658888903
323,323,Port Macquarie,-31.4333,152.9167,62.89,45,0,14.56,AU,1658888907
331,331,Yumen,40.2833,97.2000,84.90,11,2,10.13,CN,1658888910
352,352,Ierapetra,35.0100,25.7353,82.15,34,0,8.99,GR,1658888918
354,354,Charagua,-19.8000,-63.2167,74.07,57,0,11.70,BO,1658888918
356,356,Kaka,37.3482,59.6143,84.70,40,1,4.16,TM,1658888919
357,357,Karratha,-20.7377,116.8463,76.53,27,1,15.52,AU,1658888920
383,383,Khovd,48.0056,91.6419,64.00,33,4,4.27,MN,1658888929
397,397,Emboscada,-25.1500,-57.3500,78.60,47,0,5.75,PY,1658888936
398,398,Eilat,29.5581,34.9482,82.24,34,0,11.50,IL,1658888936
420,420,San Ramon,37.7799,-121.9780,78.42,60,0,14.97,US,1658888945
462,462,Chuguyevka,44.1653,133.8633,84.58,56,4,2.64,RU,1658888851
533,533,Gaziantep,37.0594,37.3825,75.13,33,0,1.14,TR,1658888988
543,543,Cayenne,4.9333,-52.3333,76.08,1,0,2.30,GF,1658888991
544,544,Byron Bay,-28.6500,153.6167,63.72,41,0,9.95,AU,1658888992
575,575,Abadiânia,-16.2042,-48.7069,63.52,53,0,3.78,BR,1658888837

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel DF
hotelDF = cleanCityDF.loc[:,["City", "Country", "Lat", "Lng"]]
hotelDF["Hotel Name"] = ""

In [7]:
# set base URL and parameters
parameters = {
    "type" : "hotel",
    "radius" : 5000,
    "key" : g_key    
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# create loop to search for the hotels
for index, row in hotelDF.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    cityName = row["City"]
    
    # Change target coordinates each iteration while leaving other params in place
    parameters["location"] = f"{lat}, {lng}"
    
    # Request and jsonify
    print(f"Retrieving Results for Index {index}: {cityName}.")
    response = requests.get(base_url, params=parameters).json()
    
    # get results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Nearest hotel in {cityName} is {results[0]['name']}.")
        hotelDF.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("No Results....skipping......")
        
    print("------------------------------")
        
print("------------------------------------------")

Retrieving Results for Index 16: Flinders.
Nearest hotel in Flinders is Wollongong.
------------------------------
Retrieving Results for Index 35: Sakakah.
Nearest hotel in Sakakah is Sakaka.
------------------------------
Retrieving Results for Index 66: Ponta do Sol.
Nearest hotel in Ponta do Sol is Ribeira Brava.
------------------------------
Retrieving Results for Index 97: Los Llanos de Aridane.
Nearest hotel in Los Llanos de Aridane is Los Llanos.
------------------------------
Retrieving Results for Index 142: Zhangaözen.
Nearest hotel in Zhangaözen is Zhanaozen.
------------------------------
Retrieving Results for Index 158: Agadez.
No Results....skipping......
------------------------------
Retrieving Results for Index 167: Yeppoon.
Nearest hotel in Yeppoon is Yeppoon.
------------------------------
Retrieving Results for Index 169: Igarka.
Nearest hotel in Igarka is Igarka.
------------------------------
Retrieving Results for Index 182: Iporá.
Nearest hotel in Iporá is Iporá.
------------------------------
Retrieving Results for Index 192: Mount Isa.
Nearest hotel in Mount Isa is Mount Isa.
------------------------------
Retrieving Results for Index 196: Jalu.
Nearest hotel in Jalu is Jalu.
------------------------------
Retrieving Results for Index 200: Abu Samrah.
Nearest hotel in Abu Samrah is Suruj.
------------------------------
Retrieving Results for Index 250: Mackay.
Nearest hotel in Mackay is Mackay.
------------------------------
Retrieving Results for Index 251: Charters Towers.
Nearest hotel in Charters Towers is Charters Towers.
------------------------------
Retrieving Results for Index 270: Tiznit Province.
Nearest hotel in Tiznit Province is Ouijjane.
------------------------------
Retrieving Results for Index 273: Abnūb.
Nearest hotel in Abnūb is Abnub.
------------------------------
Retrieving Results for Index 314: Poya.
Nearest hotel in Poya is Poya.
------------------------------
Retrieving Results for Index 323: Port Macquarie.
Nearest hotel in Port Macquarie is Port Macquarie.
------------------------------
Retrieving Results for Index 331: Yumen.
Nearest hotel in Yumen is Jiuquan.
------------------------------
Retrieving Results for Index 352: Ierapetra.
Nearest hotel in Ierapetra is Ierapetra.
------------------------------
Retrieving Results for Index 354: Charagua.
Nearest hotel in Charagua is Charagua.
------------------------------
Retrieving Results for Index 356: Kaka.
Nearest hotel in Kaka is Kaakhka.
------------------------------
Retrieving Results for Index 357: Karratha.
Nearest hotel in Karratha is Karratha.
------------------------------
Retrieving Results for Index 383: Khovd.
Nearest hotel in Khovd is Khovd.
------------------------------
Retrieving Results for Index 397: Emboscada.
Nearest hotel in Emboscada is Emboscada.
------------------------------
Retrieving Results for Index 398: Eilat.
Nearest hotel in Eilat is Eilat.
------------------------------
Retrieving Results for Index 420: San Ramon.
Nearest hotel in San Ramon is San Ramon.
------------------------------
Retrieving Results for Index 462: Chuguyevka.
Nearest hotel in Chuguyevka is Chuguevka.
------------------------------
Retrieving Results for Index 533: Gaziantep.
Nearest hotel in Gaziantep is Gaziantep.
------------------------------
Retrieving Results for Index 543: Cayenne.
Nearest hotel in Cayenne is Cayenne.
------------------------------
Retrieving Results for Index 544: Byron Bay.
Nearest hotel in Byron Bay is Byron Bay.
------------------------------
Retrieving Results for Index 575: Abadiânia.
Nearest hotel in Abadiânia is Abadiânia.
------------------------------
------------------------------------------

In [8]:
hotelDF.head()

                      City Country      Lat       Lng     Hotel Name
16                Flinders      AU -34.5833  150.8552     Wollongong
35                 Sakakah      SA  29.9697   40.2064         Sakaka
66            Ponta do Sol      PT  32.6667  -17.1000  Ribeira Brava
97   Los Llanos de Aridane      ES  28.6585  -17.9182     Los Llanos
142             Zhangaözen      KZ  43.3000   52.8000      Zhanaozen

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotelDF.iterrows()]
locations = hotelDF[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add the layer to the map
fig.add_layer(marker)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))